input[type='submit'] {
    display:block;
    margin: 10px auto;
    padding: 4px 8px;
    background-color: #564caf;
    color: white;
    border: 0px;
    border-radius: 2px;
    font-family:'Nunito', sans-serif;}

p.error {
    color: red;   
}